<div class="jumbotron">
  <h1 class="display-4">Burger App</h1>
  <p class="lead">This is a burger app, it uses express, mysql, an orm designed by me, handlebars, MVC and more.</p>
  <hr class="my-4">
  <h2>Devour Some Burgers</h2>
  <p class="lead">
    hello
  </p>
</div>